doctype html
html(lang='en', ng-app='helloApp')
head
    meta(charset='utf-8')
    title Hello App
    link(href='stylesheets/app.css', rel='stylesheet', type='text/css')
body.withNav
    # script(src='javascripts/angular/angular.js')
    # script(src='javascripts/angular-route/angular-route.js')
    # script(src='javascripts/jquery/dist/jquery.js')
    # script(src='javascripts/bootstrap-sass-official/assets/javascripts/bootstrap.js')
    script(src='javascripts/app.js')

    .main(ng-view)

